img
{
    b
    order-radius: 50%;display: block;margin-left: auto;margin-right: auto;
}
body
{
    background-color: antiquewhite;
}
h1
{
    color: blue;text-align: center;
}
p
{
    display: flex;color:brown
}
    div 
    {
        background-color: rgb(233, 169, 211);width: 400px;border: 15px solid green;padding: 50px;margin-left: auto;margin-right: auto;
    }
        ul
        {
            list-style-type: none;overflow: hidden;background-color: black;
        }
        li a 
        {
            float: right;
        }
#name  
{
    display: block;color: white;text-align: center;padding: 10px 12px;
}
li a:hover 
{
    background-color: #d5c7c7;
}